.about-front {
  text-align: center;
  padding: 215px 30px 140px;
  background: url(../images/about-front-bg.png) no-repeat 50% ;

  a {
    text-decoration: none;
    position: relative;
    text-align: center;
    display: inline-block;
    max-width: 700px;

    &:before {
      content: url(../images/roskosh-prev.png);
      position: absolute;
      top: -25px;
      right: 30px;
    }

    h3 {
      color: #b79f66;
      font-family: $font-title;
      @include fontSize(80px);
      font-weight: 400;
      line-height: 90px;
      letter-spacing: 26px;
      transition: color ease 0.5s;
    }

    p {
      color: #d7d7d7;;
      font-family: $font-title;
      @include fontSize(38px);
      font-weight: 400;
      text-transform: uppercase;
      width: 100%;
      letter-spacing: 8px;
      position: absolute;
      top: 41%;
      transition: 0.5s;
      transform: translateY(30px);
      opacity: 0;

    }

    &:hover {
      h3 {
        color: #313131;
      }

      p {
        transform: translateY(0px);
        opacity: 1;
        color: #88714d;
      }
    }


  }

  .sub-title {
    color: #fefefe;
    font-family: $font-subtitle;
    @include fontSize(16px);
    font-weight: 400;
    line-height: 26px;
    padding-top: 25px;
  }
}