footer {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 30px 70px;

  .footer-top {
    @include clearfix;

    .logo {
      float: left;
      max-width: 140px;
      color: white;
      font-family: $font-logo;
      @include fontSize(26px);
      font-weight: 400;
      line-height: 32px;
      text-align: right;
      margin-right: 70px;

      span {
        @include fontSize(16px);
      }
    }
    .contacts-info {
      float: left;
      color: #a0a0a0;
      font-family: $font-roboto;
      @include fontSize(13px);
      font-weight: 500;
      margin-right: 150px;
      line-height: 20px;

      .phone {
        padding-bottom: 20px;

        span {
          padding-left: 15px;
        }

        &:before {
          content: "\f095" ;
          margin-right: 15px;
          height: 13px;
          color: #a0a0a0;
          font-family: FontAwesome;
          font-size: 15px;
        }
      }
      .mail {
        &:before {
          content: "\f0e0";
          margin-right: 15px;
          color: #a0a0a0;
          font-family: FontAwesome;
          font-size: 15px;
        }
      }
    }

    .footer-menu {
      float: left;
      max-width: 334px;

      li {
        display: inline-block;
        padding-right: 180px;
        max-width: 220px;
        margin-bottom: 25px;

        &:nth-child(2n) {
          padding-right: 0;
        }

        a {
          font-family: $font-roboto;
          @include fontSize(14px);
          font-weight: 400;
          color: #a0a0a0;
          text-decoration: none;

          &:hover {
            color: #b79f66;
          }
        }
      }
    }
    .social-links {
      float: right;

      a {
        width: 34px;
        height: 34px;
        border: 1px solid #a0a0a0;
        display: inline-block;
        border-radius: 50%;
        line-height: 32px;
        color: white;
        text-align: center;
        margin-right: 10px;
        text-decoration: none;

        &:hover {
          color: #b79f66;
          border: 1px solid #b79f66;
        }

        &.fb:after {
          font-family: FontAwesome;
          content: "\f09a";
          font-size: 13px;
        }
        &.tw:after {
          font-family: FontAwesome;
          content: "\f099";
          font-size: 13px;
        }
        &.vk:after {
          font-family: FontAwesome;
          content: "\f189";
          font-size: 13px;
        }
        &.pi:after {
          font-family: FontAwesome;
          content: "\f231";
          font-size: 13px;
        }
        &.inst:after {
          font-family: FontAwesome;
          content: "\f16d";
          font-size: 13px;
        }
      }
    }
  }

  .footer-bottom {
    @include clearfix;

    .left {
      float: left;
    }

    .right {
      float: right;
    }

    .left, .right {
      color: #393939;
      font-family: $font-roboto;
      @include fontSize(13px);
      font-weight: 400;
      line-height: 23px;
    }
  }
}