header {
  position: absolute;
  width: 100%;
  z-index: 9;
  padding-top: 48px;

  @media (max-width: 1000px) {
    padding-top: 20px;
  }

  .wrap {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    @include clearfix;

    @media (max-width: 1560px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  #menu-btn {
    float: left;
    width: 190px;
    height: 86px;
    background-color: #191919;
    color: white;
    font-family: $font-logo;
    @include fontSize(26px);
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 21px;
    padding-left: 27px;
    position: fixed;
    z-index: 99;

    @media (max-width: 1000px) {
      padding-top: 15px;
      padding-left: 20px;
      width: 150px;
      height: 75px;
    }

    &:hover {
      cursor: pointer;
    }

    span {
      font-size: 15px;
      font-weight: 400;
    }

    .btn {
      padding-top: 9px;
      padding-left: 21px;

      @media (max-width: 1000px) {
          padding-left: 5px;
      }

      span {
        width: 42px;
        height: 2px;
        background-color: #b79f66;
        display: block;
        margin-bottom: 4px;

        @media (max-width: 1000px) {
          width: 36px;
        }
      }
    }
  }

  .menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    transition: 0.5s;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      visibility: visible;
      opacity: 1;

      ol  {
        transform: translateY( 0%);
      }

    }

    ol {
      counter-reset: li;
      position: absolute;
      transform: translateY(-50%);
      transition: 0.8s;

      li {
        list-style: none;
        position: relative;

        &:before {
          counter-increment: li;
          content: counter(li);
          font-family: $font-title;
          font-weight: 400;
          font-style: normal;
          font-size: 29px;
          color: #88714d;
          position: absolute;
          line-height: 75px;
          left: 0;

          @media (max-width: 1000px) {
            line-height: 55px;
          }

          @media (max-width: 760px) {
            line-height: 35px;
          }
        }

        .triangle {
          position: absolute;
          right: 10px;
          top: 33px;
          width: 0px;
          height: 0px;
          border: 6px solid transparent;
          border-left: 8px solid #88714d;

          @media (max-width: 1000px) {
            top: 22px;
            right: 5px;
          }
        }

        .no {
          font-family: $font-title;
          font-weight: 300;
          font-style: normal;
          @include fontSize(14px);
          color: #454545;
          text-transform: uppercase;
          text-decoration: underline;
          letter-spacing: 2px;
          position: absolute;
          left: -20px;
          top: 38%;
        }

        a {
          text-transform: uppercase;
          letter-spacing: 9px;
          display: block;
          line-height: 80px;
          font-weight: 300;
          font-style: normal;
          font-family: $font-title;
          @include fontSize(40px);
          color: #d7d7d7;
          text-align: center;
          text-decoration: none;
          padding-left: 60px;
          padding-right: 60px;

          @media (max-width: 1000px) {
            line-height: 60px;
            padding-left: 35px;
            padding-right: 35px;
          }

          @media (max-width: 500px) {
            letter-spacing: 4px;
          }

          @media (max-width: 760px) {
            line-height: 35px;
          }

          &:after {
            content: '';
            background: #88714d;
            top: 38px;
            height: 2px;
            position: absolute;
            width: 0;
            left: 10%;
            transition: width 0.2s;

            @media (max-width: 1000px) {
              top: 27px;
            }
          }

          &:hover {
            &:after {
              width: 85%;
            }
          }
        }
      }
    }

  }

  .lang {
    float: right;
    position: relative;

    &:after {
      font-family: FontAwesome;
      content: '\f078';
      color: #b79f66;
      font-size: 10px;
      font-weight: 400;
      position: absolute;
      top: 38px;
      right: 25px;

      @media (max-width: 1000px) {
        top: 33px;
        right: 20px;
      }
    }

    select {
      width: 86px;
      height: 86px;
      background-color: #191919;
      border: none;
      color: #b79f66;
      font-family: $font-roboto;
      font-size: 13px;
      font-weight: 400;
      line-height: 39px;
      outline: none;
      -webkit-appearance: none;
      padding-left: 28px;
      text-transform: uppercase;

      @media (max-width: 1000px) {
        width: 75px;
        height: 75px;
        padding-left: 20px;
      }
    }
  }
}

